---
import Layout from '../layouts/Layout.astro';
import Album from '../components/Album.jsx';
import { data } from '../../utils/data/mock';
---

<Layout title="Floyd Experience.">
	<!-- bg-fixed bg-contain overflow-auto bg-red-400 -->
	<main>
		<h1 class="text-3xl text-left"><span class="text-red-500">Pink Floyd</span> experience</h1>
			{data.map(albumObj => {
				return <Album album={albumObj}/>
			})}
	</main>
</Layout>
